.TrendCard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    /* align-items: flex-start; */
    /* justify-content: center; */
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.Trenddata{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* align-items: flex-start; */
    
}
.Trenddata>span:nth-of-type(1){
    font-weight: bold;
    /* font-size: 20px; */
}
.Trenddata>span:nth-of-type(2){
    font-size: 13px;
    }

